<div class="col-md-2">
   <h5 class="bg-light"><strong>商品一覧(全件)</strong></h5>
</div>

  <div class="container">
  <div class="row">
        <% @items.each do |item| %>
        <div class="col-md-3">
          <%= link_to public_path(item.id) do %>
          <%= image_tag item.get_image,size:"200x150" %>
          <% end %>
          <p>
            <%= item.name %><br>
         ¥<%= item.with_tax_price %>
          </p>
       </div>

  <% end %>
  </div>
  </div>